html, body {
  height: 100%;
  width: 100%;
}

form {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body {
  text-align: center;
}

#clock-out {
  height: 58px;
}